body {
    background-color: #e28cde;
    max-width: 650px;
    margin: auto;
    padding: 25px 25px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #3b0b37;
}

img {
    image-rendering: pixelated;
}

.navbar {
    padding: 15px;
    background-color: #ffdafda1;
    border: 1px solid #70416d62;
}

.container {
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #ffdafda1;
    border: 1px solid #70416d62;
}