@charset "UTF-8";
/* CSS Document */
body {
	font-family: Arial, "Arial Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: white;
	margin: 0;
}
.container {
	width: 70%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin: auto;
	background-color: white;
}
.navbarButtons {
	color: black; 
	background-color: white;
	padding: 10px 30px;
	border-radius: 10px;
	font-style: oblique;
	font-weight: bold;
	border-bottom: 1px solid #353635;
	display: inline-block;
	font-size: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s ease;
}
.navbarButtons:hover {
	background-color: grey;
	transform: translate(0px,3px);
	color: black; 
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 50px;
 	left: 0%;
	backdrop-filter: blur(6px);
	background: rgba(0,0,0,0.8);
	border-radius: 0px;
	width: 100%;
	justify-content: flex-end;
	border: none;
	z-index: 11150;
	padding: 5px 0px;
	text-align: center;
	font-size: 16px;
	margin: 0px 0px;
	position: fixed;
}
